@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400&family=Roboto&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --darkText: #1f343f;
  --darker: #93b5c6;
  --dark: #ff8882;
  --light: #e4d8dc;
  --lighter: #ffe3e3;
}

/*boiler plate over*/

/*background and animations*/

body {
  font-family: "Roboto";
  background: var(--darker);
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  display: none;
}

.container {
  overflow: hidden;
  width: 100vw;
  height: fit-content;
  position: relative;
}
.squareHome {
  position: absolute;
  background-color: var(--dark);
  width: 70vw;
  height: 70vw;
  z-index: -1;
}

.squareHome.topSquare {
  transform: rotate(48deg);
  top: -10vh;
  right: -50vw;
}

.squareHome.bottomSquare {
  transform: rotate(27deg);
  top: 75vh;
  left: -32vw;
}

.squarePortfolio {
  position: absolute;
  background-color: var(--dark);
  width: 70vw;
  height: 70vw;
  z-index: -1;
}

.squarePortfolio.topSquare {
  top: 140vh;
  transform: rotate(45deg);
  left: -40vw;
}

.squarePortfolio.bottomSquare {
  top: 170vh;
  transform: rotate(50deg);
  right: -25vw;
}

.squareAbout {
  position: absolute;
  background-color: var(--dark);
  width: 70vw;
  height: 70vw;
  z-index: -1;
}

.squareAbout.topSquare {
  top: 240vh;
  transform: rotate(45deg);
  left: -40vw;
}

.squareAbout.bottomSquare {
  top: 270vh;
  transform: rotate(50deg);
  right: -25vw;
}

.squareContact {
  position: absolute;
  background-color: var(--dark);
  width: 70vw;
  height: 70vw;
  z-index: -1;
}

.squareContact.topSquare {
  top: 340vh;
  transform: rotate(45deg);
  left: -40vw;
}

.squareContact.bottomSquare {
  top: 370vh;
  transform: rotate(50deg);
  right: -25vw;
}

/*----------MAIN NAV STYLES----------*/

.main_nav {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 60px;
  background-color: var(--lighter);
  z-index: 999;
}

.main_nav ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 100%;
}

.main_nav ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  border-radius: 100%;
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--light);
  position: relative;
  border: 5px solid var(--lighter);
  transition: 0.2s ease-in-out;
}

.main_nav ul li.active {
  transform: translateY(-20px);
  border: 5px solid var(--lighter);
}

.main_nav ul li a {
  text-decoration: none;
  color: var(--light);
  position: absolute;
  top: 6px;
  touch-action: none;
}
.main_nav ul li a img {
  filter: invert(18%) sepia(20%) saturate(861%) hue-rotate(156deg)
    brightness(96%) contrast(97%); /*change the color to match the background*/
}

/*---------MAIN NAV STYLES OVER-----------*/

/*-------------HOME SECTION---------------*/

.home {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  position: relative;
}

.flippingContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 28vh;
  height: 28vh;
  border-radius: 100%;
  position: absolute;
  right: 7vw;
  top: 30vh;
  perspective: 600px;
}
.home .imgBox {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  transition: transform 1s;
  transform-style: preserve-3d;
}
.home .imgBox.active {
  transform: rotateY(180deg);
}

.home .imgBox img {
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 100%;
  object-fit: cover;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}
.toggleCallContainer {
  position: absolute;
  padding-top: 40%;
  padding-left: 20%;
  background-color: var(--light);
  width: 100%;
  height: 100%;
  border-radius: 100%;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  transform: rotateY(180deg);
}

.toggleCallContainer p {
  width: 90%;
  font-family: "Dancing Script", cursive;
  font-size: 2em;
  color: var(--dark);
}

.actionCall {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  color: var(--lighter);
}
.actionCall canvas {
  width: 100%;
  height: 100%;
  border-radius: 100%;
}

.home .presentation {
  position: relative;
}

.home .presentation h1 {
  font-family: "Dancing Script", cursive;
  font-size: 35px;
  color: var(--dark);
  position: absolute;
  top: 15vh;
  left: 20px;
}

.home .presentation p {
  position: absolute;
  top: 60vh;
  left: 20px;
  font-size: 22px;
  color: white;
  font-weight: 100;
}

/*---------HOME SECTION OVER--------------*/

/*-----------ABOUT SECTION---------------*/

.about {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.paperContainer {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}
.paper {
  width: 65%;
  height: 30%;
  background-color: var(--light);
  box-shadow: 0px 3px 5px rgba(31, 52, 63, 0.5);
}
.paperOne {
  position: absolute;
  top: 10%;
  left: 10%;
  transform: rotate(25deg);
}

.paperTwo {
  position: absolute;
  top: 30%;
  right: 5%;
  transform: rotate(-15deg);
}
.paperThree {
  position: absolute;
  top: 50%;
  right: 10%;
  transform: rotate(5deg);
  z-index: -1;
}
.paperFour {
  position: absolute;
  top: 60%;
  left: -5%;
  transform: rotate(25deg);
}

/*---------ABOUT SECTION OVER-------------*/

/*-----------PORTFOLIO SECTION---------------*/

.portfolio {
  width: 100vw;
  height: fit-content;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.projectContainer {
  width: 100%;
  height: 130vh;
  padding-top: 15vw;
  padding-left: 5vw;
  padding-right: 5vw;
  padding-bottom: 5vw;
  position: relative;
  perspective: 50px;
}

.project {
  width: 50vw;
  height: 50vw;
  position: absolute;
  background-color: var(--light);
  box-shadow: 0px 3px 5px rgba(31, 52, 63, 0.5);
}

.projectTwo {
  top: 40vw;
  left: 45%;
}

.projectThree {
  top: 75vw;
}
.projectFour {
  top: 110vw;
  left: 45%;
}
.projectFive {
  top: 145vw;
}
.projectSix {
  top: 180vw;
  left: 45%;
}

.project.forwardsLeft {
  animation-name: foreSwapLeft;
  animation-duration: 0.5s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
}

.project.backwardsRight {
  animation-name: backSwapRight;
  animation-duration: 0.5s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
}
.project.forwardsRight {
  animation-name: foreSwapRight;
  animation-duration: 0.5s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
}

.project.backwardsLeft {
  animation-name: backSwapLeft;
  animation-duration: 0.5s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
}

@keyframes foreSwapLeft {
  50% {
    transform: translateX(-80px) translateZ(5px);
  }
  100% {
    transform: translateX(10px) translateZ(5px);
    z-index: 150;
  }
}
@keyframes foreSwapRight {
  50% {
    transform: translateX(80px) translateZ(5px);
  }
  100% {
    transform: translateX(-10px) translateZ(5px);
    z-index: 150;
  }
}
@keyframes backSwapLeft {
  50% {
    transform: translateX(-60px);
  }
  100% {
    transform: translateX(0px);
  }
}
@keyframes backSwapRight {
  50% {
    transform: translateX(60px);
  }
  100% {
    transform: translateX(0px);
  }
}

/*---------PORTFOLIO SECTION OVER-------------*/

/*-----------CONTACT SECTION---------------*/

.contact {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

/*---------CONTACT SECTION OVER-------------*/
